.search-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container2 {
    display: flex;
    justify-content: flex-start;
}
.search-input {
    padding: 0.5rem;
    margin-right: 1rem;
    font-size: 0.9rem;
    border: 1px solid #d1d1d1;
    background-color: rgb(241, 241, 241);
    border-radius: 3px;
}